In [3]:
import pandas as pd
import numpy as np

In [4]:
DF_bs = pd.read_csv("Instructions\DataSets\Belly_Button_Biodiversity_samples.csv")

In [9]:
DF_bs_index = DF_bs.set_index('otu_id').head()

In [12]:
DF_columns = list(DF_bs_index)
DF_columns

['BB_940',
 'BB_941',
 'BB_943',
 'BB_944',
 'BB_945',
 'BB_946',
 'BB_947',
 'BB_948',
 'BB_949',
 'BB_950',
 'BB_952',
 'BB_953',
 'BB_954',
 'BB_955',
 'BB_956',
 'BB_958',
 'BB_959',
 'BB_960',
 'BB_961',
 'BB_962',
 'BB_963',
 'BB_964',
 'BB_966',
 'BB_967',
 'BB_968',
 'BB_969',
 'BB_970',
 'BB_971',
 'BB_972',
 'BB_973',
 'BB_974',
 'BB_975',
 'BB_978',
 'BB_1233',
 'BB_1234',
 'BB_1235',
 'BB_1236',
 'BB_1237',
 'BB_1238',
 'BB_1242',
 'BB_1243',
 'BB_1246',
 'BB_1253',
 'BB_1254',
 'BB_1258',
 'BB_1259',
 'BB_1260',
 'BB_1264',
 'BB_1265',
 'BB_1273',
 'BB_1275',
 'BB_1276',
 'BB_1277',
 'BB_1278',
 'BB_1279',
 'BB_1280',
 'BB_1281',
 'BB_1282',
 'BB_1283',
 'BB_1284',
 'BB_1285',
 'BB_1286',
 'BB_1287',
 'BB_1288',
 'BB_1289',
 'BB_1290',
 'BB_1291',
 'BB_1292',
 'BB_1293',
 'BB_1294',
 'BB_1295',
 'BB_1296',
 'BB_1297',
 'BB_1298',
 'BB_1308',
 'BB_1309',
 'BB_1310',
 'BB_1374',
 'BB_1415',
 'BB_1439',
 'BB_1441',
 'BB_1443',
 'BB_1486',
 'BB_1487',
 'BB_1489',
 'BB_1490',
 'BB_1491',
 'BB_1494',
 'BB_1495',
 'BB_1497',
 'BB_1499',
 'BB_1500',
 'BB_1501',
 'BB_1502',
 'BB_1503',
 'BB_1504',
 'BB_1505',
 'BB_1506',
 'BB_1507',
 'BB_1508',
 'BB_1510',
 'BB_1511',
 'BB_1512',
 'BB_1513',
 'BB_1514',
 'BB_1515',
 'BB_1516',
 'BB_1517',
 'BB_1518',
 'BB_1519',
 'BB_1521',
 'BB_1524',
 'BB_1526',
 'BB_1527',
 'BB_1530',
 'BB_1531',
 'BB_1532',
 'BB_1533',
 'BB_1534',
 'BB_1535',
 'BB_1536',
 'BB_1537',
 'BB_1539',
 'BB_1540',
 'BB_1541',
 'BB_1542',
 'BB_1543',
 'BB_1544',
 'BB_1545',
 'BB_1546',
 'BB_1547',
 'BB_1548',
 'BB_1549',
 'BB_1550',
 'BB_1551',
 'BB_1552',
 'BB_1553',
 'BB_1554',
 'BB_1555',
 'BB_1556',
 'BB_1557',
 'BB_1558',
 'BB_1561',
 'BB_1562',
 'BB_1563',
 'BB_1564',
 'BB_1572',
 'BB_1573',
 'BB_1574',
 'BB_1576',
 'BB_1577',
 'BB_1581',
 'BB_1601']

In [14]:
results = DF_columns
#results

In [15]:
DF_list = list(np.ravel(results))
DF_list

['BB_940',
 'BB_941',
 'BB_943',
 'BB_944',
 'BB_945',
 'BB_946',
 'BB_947',
 'BB_948',
 'BB_949',
 'BB_950',
 'BB_952',
 'BB_953',
 'BB_954',
 'BB_955',
 'BB_956',
 'BB_958',
 'BB_959',
 'BB_960',
 'BB_961',
 'BB_962',
 'BB_963',
 'BB_964',
 'BB_966',
 'BB_967',
 'BB_968',
 'BB_969',
 'BB_970',
 'BB_971',
 'BB_972',
 'BB_973',
 'BB_974',
 'BB_975',
 'BB_978',
 'BB_1233',
 'BB_1234',
 'BB_1235',
 'BB_1236',
 'BB_1237',
 'BB_1238',
 'BB_1242',
 'BB_1243',
 'BB_1246',
 'BB_1253',
 'BB_1254',
 'BB_1258',
 'BB_1259',
 'BB_1260',
 'BB_1264',
 'BB_1265',
 'BB_1273',
 'BB_1275',
 'BB_1276',
 'BB_1277',
 'BB_1278',
 'BB_1279',
 'BB_1280',
 'BB_1281',
 'BB_1282',
 'BB_1283',
 'BB_1284',
 'BB_1285',
 'BB_1286',
 'BB_1287',
 'BB_1288',
 'BB_1289',
 'BB_1290',
 'BB_1291',
 'BB_1292',
 'BB_1293',
 'BB_1294',
 'BB_1295',
 'BB_1296',
 'BB_1297',
 'BB_1298',
 'BB_1308',
 'BB_1309',
 'BB_1310',
 'BB_1374',
 'BB_1415',
 'BB_1439',
 'BB_1441',
 'BB_1443',
 'BB_1486',
 'BB_1487',
 'BB_1489',
 'BB_1490',
 'BB_1491',
 'BB_1494',
 'BB_1495',
 'BB_1497',
 'BB_1499',
 'BB_1500',
 'BB_1501',
 'BB_1502',
 'BB_1503',
 'BB_1504',
 'BB_1505',
 'BB_1506',
 'BB_1507',
 'BB_1508',
 'BB_1510',
 'BB_1511',
 'BB_1512',
 'BB_1513',
 'BB_1514',
 'BB_1515',
 'BB_1516',
 'BB_1517',
 'BB_1518',
 'BB_1519',
 'BB_1521',
 'BB_1524',
 'BB_1526',
 'BB_1527',
 'BB_1530',
 'BB_1531',
 'BB_1532',
 'BB_1533',
 'BB_1534',
 'BB_1535',
 'BB_1536',
 'BB_1537',
 'BB_1539',
 'BB_1540',
 'BB_1541',
 'BB_1542',
 'BB_1543',
 'BB_1544',
 'BB_1545',
 'BB_1546',
 'BB_1547',
 'BB_1548',
 'BB_1549',
 'BB_1550',
 'BB_1551',
 'BB_1552',
 'BB_1553',
 'BB_1554',
 'BB_1555',
 'BB_1556',
 'BB_1557',
 'BB_1558',
 'BB_1561',
 'BB_1562',
 'BB_1563',
 'BB_1564',
 'BB_1572',
 'BB_1573',
 'BB_1574',
 'BB_1576',
 'BB_1577',
 'BB_1581',
 'BB_1601']

In [7]:
DF_otu = pd.read_csv("Instructions\DataSets\Belly_Button_Biodiversity_otu_id.csv")

In [8]:
DF_otu_index = DF_otu.set_index('otu_id')

In [9]:
DF_otu_index.head()

                              lowest_taxonomic_unit_found
otu_id
1       Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2       Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3       Archaea;Euryarchaeota;Halobacteria;Halobacteri...
4       Archaea;Euryarchaeota;Methanobacteria;Methanob...
5       Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [10]:
DF_md = pd.read_csv("Instructions\DataSets\Belly_Button_Biodiversity_Metadata.csv")

In [11]:
DF_md_index = DF_md.set_index('SAMPLEID')
DF_md_index.head()

,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,COUNTRY1319,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
SAMPLEID,,,,,,,,,,,,,,,,,,,,,
940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,usa,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,usa,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,usa,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [12]:
sample = 'BB_940'

In [13]:
sampleID = int(sample.replace("BB_",""))
sampleID

940

In [14]:
results =  DF_md_index.loc[sampleID]
results

EVENT             BellyButtonsScienceOnline
ETHNICITY                         Caucasian
GENDER                                    F
AGE                                      24
WFREQ                                     2
BBTYPE                                    I
LOCATION                        Beaufort/NC
COUNTRY012                              usa
ZIP012                                22306
COUNTRY1319                             usa
ZIP1319                               22306
DOG                                      no
CAT                                      no
IMPSURFACE013                          8852
NPP013                              37.1722
MMAXTEMP013                            54.5
PFC013                                  NaN
IMPSURFACE1319                            1
NPP1319                                 NaN
MMAXTEMP1319                          33.99
PFC1319                                25.5
Name: 940, dtype: object

In [15]:
results = results[["AGE","BBTYPE","ETHNICITY","GENDER","LOCATION","SAMPLEID"]]
results["SAMPLEID"] = sampleID

In [16]:
results.to_dict()

{'AGE': 24.0,
 'BBTYPE': 'I',
 'ETHNICITY': 'Caucasian',
 'GENDER': 'F',
 'LOCATION': 'Beaufort/NC',
 'SAMPLEID': 940}

In [17]:
DF_wf = pd.read_csv("Instructions\DataSets\Belly_Button_Biodiversity_Metadata.csv")

In [18]:
DF_wf_index = DF_md.set_index('SAMPLEID')
DF_wf_index.head()

,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,COUNTRY1319,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
SAMPLEID,,,,,,,,,,,,,,,,,,,,,
940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,usa,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,usa,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,usa,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [19]:
DF_wf_id = DF_wf_index.loc[[sampleID],['WFREQ']]
DF_wf_id

          WFREQ
SAMPLEID
940         2.0

In [20]:
results = DF_wf_id["WFREQ"].item()

In [21]:
results

2.0

In [84]:
DF_samples = pd.read_csv("Instructions\DataSets\Belly_Button_Biodiversity_Samples.csv")

In [119]:
sample = 'BB_943'

In [120]:
DF_sample_filter = DF_samples.filter(items = [sample,'otu_id'])
DF_sample_filter.head()

   BB_943  otu_id
0       0       1
1       0       2
2       0       3
3       0       4
4       0       5

In [121]:
DF_sample_sort = DF_sample_filter.sort_values(by=sample, ascending=False)
DF_sample_sort.head()

      BB_943  otu_id
1794       2    1795
3311       1    3312
921        1     922
2464       0    2465
2463       0    2464

In [122]:
DF_sample_nonzero_nan = DF_sample_sort[DF_sample_sort > 0]
DF_sample_nonzero = DF_sample_nonzero_nan.dropna()
DF_sample_nonzero

      BB_943  otu_id
1794     2.0    1795
3311     1.0    3312
921      1.0     922

In [123]:
sample_values = DF_sample_nonzero[sample].tolist()
sample_values

[2.0, 1.0, 1.0]

In [124]:
otu_ids = DF_sample_nonzero['otu_id'].tolist()
otu_ids

[1795, 3312, 922]

In [125]:
DF_sample_index = [{'otu_ids':otu_ids,'sample_values':sample_values}]

In [126]:
DF_sample_index

[{'otu_ids': [1795, 3312, 922], 'sample_values': [2.0, 1.0, 1.0]}]